*{margin:0;padding:0;}
body *{line-height:1.4em;}

.repos{background-color:#fff;font:13.34px helvetica,arial,freesans,clean,sans-serif;*font-size:small;}

.repos a{color:#4183c4;text-decoration:none;}
.repos a:hover{text-decoration:underline;}
.repos a{outline:none;}

/*.repos{float:right;clear:right;}*/
.repos h1{margin-bottom:0;}
.repos img{vertical-align:middle;}
.repos{margin:15px 0;width:333px;padding:0 2px;background:url(../images/box_back.gif) 0 0 repeat-y;}

.repos .top_bar{position:relative;margin:0 0 0 -2px;width:100%;height:44px;padding:0 2px;background:url(../images/box_top.gif) 0 0 no-repeat;}
.repos h2{margin:0;height:44px;line-height:44px;padding:0 10px;font-size:16px;color:#52595d;}
.repos h2 em{color:#99a4aa;font-style:normal;}

.repos .filter_bar{padding:10px 10px 0 10px;background:#fafafb;border-bottom:1px solid #e1e1e2;}
.repos .filter_bar .filter_input{width:289px;padding:2px 12px;height:15px;background:url(../images/filter_input.gif) 0 -19px no-repeat;border:none;}
.repos .filter_bar .filter_input.native{width:100%;height:auto;padding:2px 5px;font-size:11px;background-image:none;}
.repos .filter_bar .filter_input.placeholder{background-position:0 0;}
.repos .filter_bar .filter_input:focus{background-position:0 -19px;}
.repos .filter_bar ul.repo_filterer{margin:5px 0 0 0;text-align:right;}
.repos .filter_bar li{display:inline;margin:0 0 0 10px;padding:0;font-size:11px;}
.repos .filter_bar li.all_repos{position:relative;top:2px;float:left;margin:0;}
.repos .filter_bar li a{display:inline-block;padding-bottom:8px;color:#777;}
.repos .filter_bar li a.filter_selected{color:#000;font-weight:bold;background:url(../images/filter_selected_bit.gif) 50% 100% no-repeat;}

.repos ul.repo_list{margin:0;}
.repos ul.repo_list li{display:block;margin:0;padding:0 0 0 22px;}

.repos ul.repo_list li{border:none;border-bottom:1px solid #e5e5e5;background:url(../images/icons/public.png) 10px 8px no-repeat #fff;}
.repos ul.repo_list li a{display:block;padding:6px 10px 5px 10px;font-size:14px;background:url(../images/arrow-40.png) 97% 50% no-repeat;}
.repos ul.repo_list li a:hover{background-image:url(../images/arrow-80.png);}
.repos ul.repo_list li a .repo{font-weight:bold;}

.repos ul.repo_list li.loading{background:url(../images/indicator.gif) 10px 8px no-repeat #fff;height: 30px;}
.repos ul.repo_list li.loading span{display:block;padding:6px 10px 5px 10px;font-size:14px;color:#4183c4;font-weight:bold;}

.repos .bottom_bar img{margin:10px;}
.repos .bottom_bar{width:100%;min-height:13px;padding:0 2px 3px 2px;margin-left:-2px;background:url(../images/box_bottom.gif) 0 100% no-repeat;}
.repos a.show_more{display:block;padding:10px;font-size:14px;font-weight:bold;color:#999;}


